.button {
  width: 200px;
  height: 110px;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 900;
  background-color: crimson;
  transition: all 0.2s ease;
  &:hover {
    transform: translateY(5px);
    color: white;
    background-color: rgba(173, 0, 43, 0.959);
  }
}
.button2 {
  width: 200px;
  height: 110px;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 900;
  background-color: rgb(20, 220, 30);
  transition: all 0.2s ease;
  &:hover {
    transform: translateY(5px);
    color: white;
    background-color: rgba(46, 231, 0, 0.959);
  }
}
.button3 {
  width: 200px;
  height: 110px;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 900;
  background-color: rgb(0, 4, 255);
  transition: all 0.2s ease;
  &:hover {
    transform: translateY(5px);
    color: white;
    background-color: rgba(42, 0, 139, 0.959);
  }
}
.koteret img {
  display: block;
  width: 200px;
}
.koteret,
.koteret2,
.koteret3 {
  display: none;
  font-size: 2em;
}
.koteret2 {
  font-weight: bold;
}
.active {
  display: block;
}
.kvadrat {
  width: 100px;
  height: 300px;
  background-color: green;
}
.slova {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
